<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/styleFacultyHome.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"
        integrity="sha512-RNLkV3d+aLtfcpEyFG8jRbnWHxUqVZozacROI4J2F1sTaDqo1dPQYs01OMi1t1w9Y2FdbSCDSQ2ZVdAC8bzgAg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script type="text/javascript">
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };  
    </script>
</head>

<body>
    <div class="overlay" onclick="off()"></div>
    <button style="display: none;" id="nonPurpose" value="{{justLoggedIn}}"></button>
    <header class="text-center" id="preProductionHomeHeader">

        <div class="">
            <img src="https://vit.ac.in/files/gravitas19/images/vit_white.png" id="preProductionHomeLogo" alt="">
        </div>

        <div class="topright">
            <a href="" style="text-decoration: none; color:#fff">
                <img src="https://cdn-icons-png.flaticon.com/128/3237/3237472.png" width="40" height="40" alt="">
                {{user.facultyName}}
            </a>
        </div>

    </header>
    <div class="containerMain">
        <a href="#" class="toggleBox">
            <span class="icon"></span>
        </a>
        <ul class="navItems">
            <li>
                <a href="/faculty-home">
                    <i class="fa fa-home" style="--i:1"></i>
                    <span style="--g:1">home</span>
                </a>
            </li>
            <li>
                <a href="/faculty-course-plan">
                    <i class="fa fa-solid fa-book" style="--i:2"></i>
                    <span style="--g:2">Course Plan</span>
                </a>
            </li>
            <li>
                <a href="/faculty-confirmation">
                    <i class="fa-solid fa-check-to-slot" style="--i:3"></i>
                    <span style="--g:3">Confirmation</span>
                </a>
            </li>
            <li>
                <a href="/faculty-slot-booking">
                    <i class="fa-solid fa-user" style="--i:4"></i>
                    <span style="--g:4">Slot Booking</span>
                </a>
            </li>
            <li>
                <a href="/logout">
                    <i class="fa-solid fa-right-from-bracket" style="--i:5"></i>
                    <span style="--g:5">logout</span>
                </a>
            </li>
        </ul>
    </div>
    <section id="tableSection" class="table-responsive-lg p-4" style="overflow-x:auto; ">
        <div class="text-center mb-3">
            <h4 style="color: #004bff;">Under Production</h4>
        </div>
        <table class="table table-sm table-bordered table-hover auto-index table-striped " cell-padding="10">
            <thead>
                <tr>
                    <th scope="col" style="width: 50px;" class="text-center">Sno</th>
                    <th scope="col" style="width: 100px;" class="text-center">Course Name</th>
                    <th scope="col" style="width: 150px;" class="text-center">Prof Name</th>
                    <th scope="col" style="width: 70px;" class="text-center">Degree</th>
                    <th scope="col" style="width: 30px;" class="text-center">Credit</th>
                    <th scope="col" style="width: 70px;" class="text-center">Target time</th>
                    <th scope="col" style="width: 150px;" class="text-center">Editor Name</th>
                    <th scope="col" style="width: 70px;" class="text-center">Production <br> Mins &nbsp&nbspSec</th>
                    <th scope="col" style="width: 100px;" class="text-center">Post Production <br> Mins &nbsp&nbspSec
                    </th>
                    <th scope="col" style="width: 80px;" class="text-center">LMS <br> Mins &nbsp&nbspSec</th>
                </tr>
            </thead>
            <tbody>
                {{#each data}}
                {{#if this.underProduction}}
                <tr style="height: 15px;">
                    <td class="text-center"></td>
                    <td class="text-center">{{this.courseId}}</td>
                    <td>{{this.facultyName}}</td>
                    <td class="text-center">{{this.degree}}</td>
                    <td class="text-center">{{this.credits}}</td>
                    <td class="text-center">{{this.durationTarget}}</td>
                    <td>{{this.editorName}}</td>
                    <td class="text-center">{{this.preCompletedMinutes}}m &nbsp {{this.preCompletedSeconds}}s</td>
                    <td class="text-center">{{this.postCompletedMinutes}}m &nbsp {{this.postCompletedSeconds}}s</td>
                    <td class="text-center">{{this.totalCompletedRenderedMinutes}}m &nbsp
                        {{this.totalCompletedRenderedSeconds}}s</td>
                </tr>
                {{/if}}
                {{/each}}
            </tbody>
        </table>
        <div class="text-center mb-3">
            <h4 style="color: #004bff;">Statistics</h4>
        </div>
        <table class="table table-sm table-bordered table-hover auto-index " cell-padding="10">
            <thead>
                <tr>
                    <th style="width: 20px;" class="text-center">Sno</th>
                    <th style="width: 100px;" class="text-center">Degree</th>
                    <th style="width: 350px;" class="text-center">Course Name</th>
                    <th style="width: 350px;" class="text-center">Production</th>
                    <th style="width: 350px;" class="text-center">Post Production</th>
                    <th style="width: 350px;" class="text-center">LMS</th>
                </tr>
            </thead>
            <tbody id="tableBody">

            </tbody>
        </table>
        <div class="text-center mb-3">
            <h4 style="color: #004bff;">Completed</h4>
        </div>
        <table class="table table-sm table-bordered table-hover auto-index table-striped " cell-padding="10">
            <thead>
                <tr>
                    <th scope="col" style="width: 50px;" class="text-center">Sno</th>
                    <th scope="col" style="width: 100px;" class="text-center">Course Name</th>
                    <th scope="col" style="width: 150px;" class="text-center">Prof Name</th>
                    <th scope="col" style="width: 70px;" class="text-center">Degree</th>
                    <th scope="col" style="width: 30px;" class="text-center">Credit</th>
                    <th scope="col" style="width: 70px;" class="text-center">Target time</th>
                    <th scope="col" style="width: 150px;" class="text-center">Editor Name</th>
                </tr>
            </thead>
            <tbody>
                {{#each data}}
                {{#if this.completed}}
                <tr style="height: 15px;">
                    <td class="text-center"></td>
                    <td>{{this.courseId}}</td>
                    <td>{{this.facultyName}}</td>
                    <td>{{this.degree}}</td>
                    <td>{{this.credits}}</td>
                    <td>{{this.durationTarget}}</td>
                    <td>{{this.editorName}}</td>
                </tr>
                {{/if}}
                {{/each}}
            </tbody>
        </table>
    </section>


    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
        integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
        crossorigin="anonymous"></script>

    <script>
        var toggleClick = document.querySelector(".toggleBox");
        var containerMain = document.querySelector(".containerMain");
        var overlayScreen = document.querySelector(".overlay");

        toggleClick.addEventListener('click', () => {
            toggleClick.classList.toggle('active');
            overlayScreen.classList.toggle('active');
            containerMain.classList.toggle('active');
        })

        function off() {
            toggleClick.classList.toggle('active');
            overlayScreen.classList.toggle('active');
            containerMain.classList.toggle('active');
        }

        function showLoggedIn() {
            justLoggedIn = document.getElementById("nonPurpose").value
            if (justLoggedIn == "1") {
                const Toast = Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                        toast.addEventListener('mouseenter', Swal.stopTimer)
                        toast.addEventListener('mouseleave', Swal.resumeTimer)
                    }
                })

                Toast.fire({
                    icon: 'success',
                    title: 'Signed in successfully'
                })
            }
        }
        window.onload = function showPendingNotification() {
            stats()
            fetch("/faculty-pending-notification", {
                headers: { 'Content-Type': "application/json" },
                method: "POST",
                body: JSON.stringify({}),
            }).then(res => res.json()).then(response => {
                if (response.notificationFlag == "1") {
                    Swal.fire(
                        'Pending Confirmation',
                        'Please confirm the video by visiting the CONFIRMATION page',
                        'info'
                    )
                }
                else {
                    showLoggedIn()
                }
            })
        }

        function stats() {
            let fromDate = ""
            fetch("/faculty-home", {
                headers: { 'Content-Type': "application/json" },
                method: "POST",
                body: JSON.stringify({}),
            }).then(res => res.json()).then((data) => {
                console.log(data)
                for (var i = 0; i < data.length; i++) {
                    let reqData = data[i]

                    let target = parseInt(reqData["durationTarget"])
                    let production = parseInt((parseInt(reqData["preCompletedMinutes"]) / target) * 100)
                    let postProduction = parseInt((parseInt(reqData["postCompletedMinutes"]) / target) * 100)
                    let lms = parseInt((parseInt(reqData["totalCompletedRenderedMinutes"]) / target) * 100)
                    let productionColor = ""
                    let postProductionColor = ""
                    let lmsColor = ""

                    if(production > 100){ production = 100 }
                    if(postProduction > 100){ postProduction = 100 }
                    if(lms > 100){ lms = 100 }

                    if (production == 0) { productionColor = "bg-danger" }
                    else if (production <= 25) { productionColor = "bg-danger" }
                    else if (production <= 50) { productionColor = "bg-warning" }
                    else if (production <= 75) { productionColor = "bg-info" }
                    else { productionColor = "bg-success" }

                    if (postProduction == 0) { postProductionColor = "bg-danger" }
                    else if (postProduction <= 25) { postProductionColor = "bg-danger" }
                    else if (postProduction <= 50) { postProductionColor = "bg-warning" }
                    else if (postProduction <= 75) { postProductionColor = "bg-info" }
                    else { postProductionColor = "bg-success" }

                    if (lms == 0) { lmsColor = "bg-danger" }
                    else if (lms <= 25) { lmsColor = "bg-danger" }
                    else if (lms <= 50) { lmsColor = "bg-warning" }
                    else if (lms <= 75) { lmsColor = "bg-info" }
                    else { lmsColor = "bg-success" }

                    $("#tableBody").append(`
                        <tr>
                            <td class="text-center"></td>
                            <td class="text-center">${reqData["degree"]}</td>
                            <td>${reqData["courseName"]}</td>
                            <td>
                                <div class="progress m-1 ">
                                    <div class="progress-bar progress-bar-striped ${productionColor}" role="progressbar"
                                        style="width: ${production}%" aria-valuenow="${production}" aria-valuemin="0" aria-valuemax="100">${production}%</div>
                                </div>
                            </td>
                            <td>
                                <div class="progress m-1">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated  ${postProductionColor}" role="progressbar"
                                        style="width: ${postProduction}%" aria-valuenow="${postProduction}" aria-valuemin="0" aria-valuemax="100">${postProduction}%</div>
                                </div>
                            </td>
                            <td>
                                <div class="progress m-1">
                                    <div class="progress-bar progress-bar-striped  ${lmsColor}" role="progressbar" style="width: ${lms}%"
                                        aria-valuenow="${lms}" aria-valuemin="0" aria-valuemax="100">${lms}%</div>
                                </div>
                            </td>
                        </tr>
                    `)

                }
            })
        }

    </script>
</body>

</html>